// shared: mixins

@use 'functions';
@use 'variables';

@mixin app-container-fluid {
  padding-right: 16px;
  padding-left: 16px;

  @media (width >= 576px) {
    padding-right: 24px;
    padding-left: 24px;
  }

  @media (width >= 1200px) {
    padding-right: 32px;
    padding-left: 32px;
  }
}

@mixin app-container {
  width: 1320px;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;

  @include app-container-fluid;
}
