<div class="container">
  <app-title-bar />

  <p>Search any logs from the database. TODO describe technicalities of this page.</p>

  <form [formGroup]="form" (ngSubmit)="search()">
    <mat-tab-group mat-stretch-tabs="false" animationDuration="0ms">
      <mat-tab label="Main Query">
        <div class="mt-5 flex max-w-md flex-wrap gap-4">
          <mat-form-field class="grow">
            <mat-label>Search Term</mat-label>
            <input matInput formControlName="search" />
          </mat-form-field>
        </div>
      </mat-tab>

      <mat-tab label="Vehicle Details">
        <div class="mt-5 flex flex-wrap gap-4">
          <mat-form-field>
            <mat-label>ID</mat-label>
            <input type="number" matInput formControlName="vehicle" />
          </mat-form-field>

          <mat-form-field>
            <mat-label>Mileage</mat-label>
            <input type="number" matInput formControlName="mileage" />
          </mat-form-field>

          <mat-form-field>
            <mat-label>Year</mat-label>
            <input type="number" matInput formControlName="year" />
          </mat-form-field>
        </div>
      </mat-tab>

      <mat-tab label="Advanced Params">
        <div class="mt-5 flex flex-wrap gap-4">
          <!-- <mat-form-field>
            <mat-label>Vehicle ID</mat-label>
            <input type="number" matInput formControlName="vehicle" />
          </mat-form-field> -->

          <!-- <mat-form-field>
            <mat-label>Vehicle Mileage</mat-label>
            <input type="number" matInput formControlName="mileage" />
          </mat-form-field> -->

          <!-- <mat-form-field>
            <mat-label>Vehicle Year</mat-label>
            <input type="number" matInput formControlName="year" />
          </mat-form-field> -->

          <!-- TODO severity control -->

          <mat-form-field>
            <mat-label>Code</mat-label>
            <input matInput formControlName="code" />
          </mat-form-field>

          <!-- TODO from-to double control -->
        </div>
      </mat-tab>
    </mat-tab-group>

    <div class="mt-1 mb-8 flex gap-2">
      <button type="submit" mat-flat-button>Search</button>
      <button type="reset" mat-stroked-button>Reset</button>
    </div>
  </form>

  @if (loaded()) {
    @if (vehicleLogs().length > 0) {
      <mat-card>
        <div class="overflow-x-auto rounded-md">
          <table mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="timestamp">
              <th mat-header-cell *matHeaderCellDef>Timestamp</th>
              <td mat-cell *matCellDef="let log">{{ log.timestamp | date: 'yyyy-MM-dd HH:mm:ss' }}</td>
            </ng-container>

            <ng-container matColumnDef="vehicleId">
              <th mat-header-cell *matHeaderCellDef>Vehicle ID</th>
              <td mat-cell *matCellDef="let log">{{ log.vehicleId }}</td>
            </ng-container>

            <ng-container matColumnDef="severity">
              <th mat-header-cell *matHeaderCellDef>Severity</th>
              <td mat-cell *matCellDef="let log">{{ log.severity }}</td>
            </ng-container>

            <ng-container matColumnDef="code">
              <th mat-header-cell *matHeaderCellDef>Code</th>
              <td mat-cell *matCellDef="let log">{{ log.code }}</td>
            </ng-container>

            <ng-container matColumnDef="message">
              <th mat-header-cell *matHeaderCellDef>Message</th>
              <td mat-cell *matCellDef="let log">{{ log.message }}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: tableColumns" class="font-mono"></tr>
          </table>

          <mat-paginator [pageSizeOptions]="[5, 20,50, 100]" showFirstLastButtons aria-label="Select page" />
        </div>
      </mat-card>
    } @else if (!loading()) {
      <p class="text-secondary col-span-full py-2 text-center">No vehicle logs were found.</p>
    }
  }
</div>
