h1 {
  font: var(--mat-sys-headline-medium);
  font-weight: 700;
}

h2 {
  margin-top: 1rem * 2;
  margin-bottom: 1rem;
  font: var(--mat-sys-title-large);
  font-weight: 700;
}

h3,
h4,
h5,
h6 {
  margin-top: 1rem * 1.25;
  margin-bottom: 1rem;
  font: var(--mat-sys-title-medium);
  font-weight: 700;
}

p {
  margin-bottom: 1rem;
}

dl {
  margin-bottom: 1rem;

  dt {
    font-weight: 500;
  }

  dd {
    margin-bottom: 0.5rem;
  }
}
