.bg-primary {
  background-color: var(--mat-sys-primary);
}

.bg-secondary {
  background-color: var(--mat-sys-secondary);
}

.bg-tertiary {
  background-color: var(--mat-sys-tertiary);
}

.bg-surface {
  background-color: var(--mat-sys-surface);
}

.bg-error {
  background-color: var(--mat-sys-error);
}

.bg-primary-container {
  background-color: var(--mat-sys-primary-container);
}

.bg-secondary-container {
  background-color: var(--mat-sys-secondary-container);
}

.bg-tertiary-container {
  background-color: var(--mat-sys-tertiary-container);
}

.bg-error-container {
  background-color: var(--mat-sys-error-container);
}

.bg-primary-fixed {
  background-color: var(--mat-sys-primary-fixed);
}

.bg-primary-fixed-dim {
  background-color: var(--mat-sys-primary-fixed-dim);
}

.bg-secondary-fixed {
  background-color: var(--mat-sys-secondary-fixed);
}

.bg-secondary-fixed-dim {
  background-color: var(--mat-sys-secondary-fixed-dim);
}

.bg-tertiary-fixed {
  background-color: var(--mat-sys-tertiary-fixed);
}

.bg-tertiary-fixed-dim {
  background-color: var(--mat-sys-tertiary-fixed-dim);
}

.bg-surface-dim {
  background-color: var(--mat-sys-surface-dim);
}

.bg-surface-bright {
  background-color: var(--mat-sys-surface-bright);
}

.bg-surface-container-lowest {
  background-color: var(--mat-sys-surface-container-lowest);
}

.bg-surface-container-low {
  background-color: var(--mat-sys-surface-container-low);
}

.bg-surface-container {
  background-color: var(--mat-sys-surface-container);
}

.bg-surface-container-high {
  background-color: var(--mat-sys-surface-container-high);
}

.bg-surface-container-highest {
  background-color: var(--mat-sys-surface-container-highest);
}
