.text-primary {
  color: var(--mat-sys-primary);
}

.text-secondary {
  color: var(--mat-sys-secondary);
}

.text-tertiary {
  color: var(--mat-sys-tertiary);
}

.text-surface {
  color: var(--mat-sys-surface);
}

.text-error {
  color: var(--mat-sys-error);
}

.text-on-primary {
  color: var(--mat-sys-on-primary);
}

.text-on-secondary {
  color: var(--mat-sys-on-secondary);
}

.text-on-tertiary {
  color: var(--mat-sys-on-tertiary);
}

.text-on-surface {
  color: var(--mat-sys-on-surface);
}

.text-on-error {
  color: var(--mat-sys-on-error);
}

.text-on-primary-container {
  color: var(--mat-sys-on-primary-container);
}

.text-on-secondary-container {
  color: var(--mat-sys-on-secondary-container);
}

.text-on-tertiary-container {
  color: var(--mat-sys-on-tertiary-container);
}

.text-on-error-container {
  color: var(--mat-sys-on-error-container);
}

.text-on-primary-fixed {
  color: var(--mat-sys-on-primary-fixed);
}

.text-on-secondary-fixed {
  color: var(--mat-sys-on-secondary-fixed);
}

.text-on-tertiary-fixed {
  color: var(--mat-sys-on-tertiary-fixed);
}
