.mat-level0 {
  box-shadow: var(--mat-sys-level0);
}

.mat-level1 {
  box-shadow: var(--mat-sys-level1);
}

.mat-level2 {
  box-shadow: var(--mat-sys-level2);
}

.mat-level3 {
  box-shadow: var(--mat-sys-level3);
}

.mat-level4 {
  box-shadow: var(--mat-sys-level4);
}

.mat-level5 {
  box-shadow: var(--mat-sys-level5);
}
