$tokens: ();

$tertiary-tokens: (
  container-color: var(--mat-sys-tertiary-container),
  foreground-color: var(--mat-sys-on-tertiary-container),
  state-layer-color: var(--mat-sys-on-tertiary-container),
  small-container-color: var(--mat-sys-tertiary-container),
  small-foreground-color: var(--mat-sys-on-tertiary-container),
  small-state-layer-color: var(--mat-sys-on-tertiary-container),
);

$error-tokens: (
  container-color: var(--mat-sys-error-container),
  foreground-color: var(--mat-sys-on-error-container),
  state-layer-color: var(--mat-sys-on-error-container),
  small-container-color: var(--mat-sys-error-container),
  small-foreground-color: var(--mat-sys-on-error-container),
  small-state-layer-color: var(--mat-sys-on-error-container),
);
