$tokens: (
  container-height: 3rem,
  container-vertical-padding: 0.75rem,
  filled-active-indicator-height: 2px,
  filled-focus-active-indicator-height: 3px,
  filled-container-shape: var(--mat-sys-corner-large),
  outlined-outline-width: 2px,
  outlined-focus-outline-width: 2px,
  outlined-container-shape: var(--mat-sys-corner-large),
);

.mdc-notched-outline__notch {
  border-right: none; // fix: false border
}
