$tokens: ();

$primary-tokens: (
  active-indicator-color: var(--mat-sys-primary),
);

$tertiary-tokens: (
  active-indicator-color: var(--mat-sys-tertiary),
);

$error-tokens: (
  active-indicator-color: var(--mat-sys-error),
);
