<div class="container">
  <app-title-bar>
    <button mat-stroked-button class="app-tertiary" (click)="startGeneratingLogs()">Start Generating Logs</button>
    <button mat-stroked-button class="app-error" (click)="stopGeneratingLogs()" aria-label="Stop Generating Logs">
      Stop
    </button>
  </app-title-bar>

  <p>Overview of critical metrics based on vehicle logs.</p>

  <p class="font-mono opacity-75">server log generation start, stop / stream summary via SSE start, stop</p>

  @if (summary(); as data) {
    <div class="grid gap-6 sm:grid-cols-2 xl:grid-cols-4">
      <mat-card>
        <mat-card-header>
          <mat-icon mat-card-avatar class="mb-0" style="font-size: 1.75rem">list_alt</mat-icon>
          <mat-card-title>Total Logs</mat-card-title>
        </mat-card-header>

        <mat-divider class="mx-4 mb-3" />

        <mat-card-content class="text-end">
          <div class="text-lg font-medium">{{ data.totalLogs | number }}</div>
        </mat-card-content>
      </mat-card>

      <mat-card>
        <mat-card-header>
          <mat-icon mat-card-avatar class="mb-0" style="font-size: 1.75rem">mode_of_travel</mat-icon>
          <mat-card-title>Highest Mileage</mat-card-title>
        </mat-card-header>

        <mat-divider class="mx-4 mb-3" />

        <mat-card-content class="text-end">
          <div class="text-lg font-medium">{{ data.highestMileage | number }} km</div>
        </mat-card-content>
      </mat-card>

      <mat-card>
        <mat-card-header>
          <mat-icon mat-card-avatar class="mb-0" style="font-size: 1.75rem">favorite_border</mat-icon>
          <mat-card-title>Newest Car</mat-card-title>
        </mat-card-header>

        <mat-divider class="mx-4 mb-3" />

        <mat-card-content class="text-end">
          <div class="text-lg font-medium">{{ data.latestYear }}</div>
        </mat-card-content>
      </mat-card>

      <mat-card>
        <mat-card-header>
          <mat-icon mat-card-avatar class="mb-0" style="font-size: 1.75rem">calendar_month</mat-icon>
          <mat-card-title>Time Span</mat-card-title>
        </mat-card-header>

        <mat-divider class="mx-4 mb-3" />

        <mat-card-content class="text-end">
          <div class="text-lg font-medium">{{ data.earliestDate | date }} - {{ data.latestDate | date }}</div>
        </mat-card-content>
      </mat-card>
    </div>
  }

  <h2>Fleet Health Statistics</h2>

  <div class="grid gap-6 xl:grid-cols-2">
    @if (severityStats(); as data) {
      <mat-card>
        <mat-card-header>
          <mat-icon mat-card-avatar class="mb-0" style="font-size: 1.75rem">report</mat-icon>
          <mat-card-title>Severity Stats</mat-card-title>
          <!-- <mat-card-subtitle class="text-end">Total Logs: {{ data.totalLogs }}</mat-card-subtitle> -->
        </mat-card-header>

        <mat-divider class="mx-4 my-3" />

        <mat-card-content>
          <pre>{{ data.stats | json }}</pre>
        </mat-card-content>
      </mat-card>
    }
    @if (colorStats(); as data) {
      <mat-card>
        <mat-card-header>
          <mat-icon mat-card-avatar class="mb-0" style="font-size: 1.75rem">color_lens</mat-icon>
          <mat-card-title>Color Stats</mat-card-title>
          <!-- <mat-card-subtitle class="text-end">Total Logs: {{ data.totalLogs }}</mat-card-subtitle> -->
        </mat-card-header>

        <mat-divider class="mx-4 my-3" />

        <mat-card-content>
          <pre>{{ data.stats | json }}</pre>
        </mat-card-content>
      </mat-card>
    }
  </div>
</div>
