@use '@angular/material' as mat;

@use 'shared';

$tabs-tokens: (
  active-indicator-height: 4px,
  container-height: 64px,
  divider-height: 0,
);

:host {
  @include mat.tabs-overrides($tabs-tokens);

  ::ng-deep .mat-mdc-form-field-subscript-wrapper {
    height: 0;
  }

  ::ng-deep .mdc-tab {
    min-width: 56px; // value by visuals
  }

  ::ng-deep .mdc-tab-indicator__content--underline {
    width: calc(100% - 16px); // value by visuals
  }
}

.mat-toolbar-row {
  @include shared.app-container-fluid;
}
