<mat-toolbar class="mat-level2">
  <mat-toolbar-row class="gap-1 sm:gap-2">
    @if (!large()) {
      <button mat-icon-button (click)="sidenavToggle.emit()" class="-ms-2 me-1 sm:me-2" aria-label="Toggle Navigation">
        <mat-icon>menu</mat-icon>
      </button>
    }
    <div class="text-primary truncate text-base sm:text-lg lg:text-xl">{{ options.applicationName }}</div>

    @if (large()) {
      <nav mat-tab-nav-bar [tabPanel]="tabPanel" class="ms-2">
        @for (link of links; track link.path) {
          <a mat-tab-link [routerLink]="link.path" routerLinkActive [active]="a.isActive" class="px-3" #a="routerLinkActive">{{ link.label }}</a>
        }
      </nav>
    }
    <span class="ms-2 me-auto"></span>

    @if (large()) {
      <div class="px-2 text-base">Github</div>

      <mat-divider vertical class="h-8" />

      <button mat-icon-button (click)="themeService.toggleTheme()" aria-label="Toggle Theme">
        @if (themeService.theme === 'dark') {
          <mat-icon>dark_mode</mat-icon>
        } @else {
          <mat-icon>light_mode</mat-icon>
        }
      </button>
    }
  </mat-toolbar-row>
</mat-toolbar>

<!-- TODO kick after fixed - workaround: tabs falsely require a tabPanel input -->
<mat-tab-nav-panel #tabPanel />
