<div class="container">
  <app-title-bar />

  <p>Assignment-related documentation around this project.</p>

  <p class="font-mono opacity-75">markdown rendering</p>

  <mat-tab-group mat-stretch-tabs="false">
    <mat-tab label="Requirements">
      <markdown src="assets/docs/REQUIREMENTS.md" />
    </mat-tab>

    <mat-tab label="Architecture">
      <markdown src="assets/docs/ARCHITECTURE.md" />
    </mat-tab>

    <mat-tab label="Features">
      <markdown src="assets/docs/FEATURES.md" />
    </mat-tab>
  </mat-tab-group>
</div>
