<div class="container">
  <app-title-bar backUrl="/vehicles">
    <!-- TODO add some actions -->
  </app-title-bar>

  <p class="max-w-prose">
    This page loads a single vehicle with aggregated logs on navigation and saves the data in memory shared with the
    vehicle list for faster subsequent access.<br />
    The logs data is not removed when navigating back.
  </p>

  @if (vehicle(); as vehicle) {
    <app-vehicle-card [data]="vehicle" />

    <h2>Vehicle Logs</h2>

    @if (vehicle.logs && vehicle.logs.length > 0) {
      <mat-card>
        <div class="overflow-x-auto rounded-md">
          <table mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="timestamp">
              <th mat-header-cell *matHeaderCellDef>Timestamp</th>
              <td mat-cell *matCellDef="let log">{{ log.timestamp | date: 'yyyy-MM-dd HH:mm:ss' }}</td>
            </ng-container>

            <ng-container matColumnDef="vehicleId">
              <th mat-header-cell *matHeaderCellDef>Vehicle ID</th>
              <td mat-cell *matCellDef="let log">{{ log.vehicleId }}</td>
            </ng-container>

            <ng-container matColumnDef="severity">
              <th mat-header-cell *matHeaderCellDef>Severity</th>
              <td mat-cell *matCellDef="let log">{{ log.severity }}</td>
            </ng-container>

            <ng-container matColumnDef="code">
              <th mat-header-cell *matHeaderCellDef>Code</th>
              <td mat-cell *matCellDef="let log">{{ log.code }}</td>
            </ng-container>

            <ng-container matColumnDef="message">
              <th mat-header-cell *matHeaderCellDef>Message</th>
              <td mat-cell *matCellDef="let log">{{ log.message }}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: tableColumns" class="font-mono"></tr>
          </table>

          <mat-paginator [pageSizeOptions]="[5, 20, 50, 100]" showFirstLastButtons aria-label="Select page" />
        </div>
      </mat-card>
    } @else if (loading()) {
      <mat-spinner class="mb-4" aria-label="Loading" />
    } @else {
      <p class="text-secondary col-span-full py-2 text-center">No logs were found for this vehicle.</p>
    }
  } @else if (loading()) {
    <mat-spinner class="mb-4" aria-label="Loading" />
  } @else {
    <p class="text-error col-span-full py-2 text-center">Error loading vehicle data.</p>
  }
</div>
